*
{
    margin: 0%;
    padding: 0%;
}
.BTS1
{

    padding-top: 50px;
    
}
.BTS2
{
    padding-top: 40px;
}
.BTS3
{
    padding-top: 46px;
    padding-left: 100px;
}
.BTS4
{
    padding-top: 40px;
    padding-left: 100px;
}
.BTS5
{
    padding-top: 40px;
    padding-right: 100px;
}
.BTS6
{
    padding-top: 40px;
    padding-left: 100px;
}
.BTS7
{
    padding-top: 40px;
    padding-left: 100px;
}
.BTS8
{
    padding-top: 40px;
    padding-left: 100px;
}
.s1{
    display: flex;
    padding-left: 250px;
}
.s2
{
    display: flex;
    padding-left: 200px;
}